@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
}


body {
  background-color: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
}


h1 {
  font-weight: 900;
  font-size: 96px;
  line-height: 96px;
  font-family: 'Roboto', sans-serif;

}


main {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  height: 100vh;
  margin-top: 20px;
  /* gap: 10px; */
}

.left {
  display: grid;
  grid-template-columns: 316px 316px;
  row-gap: 20px;
  column-gap: 20px;
}

.left div {
  width: 280px;
  height: 273px;
  background-color: white;
  color: #000;
  /* border: 1px solid red; */
  border-radius: 8px;
  padding: 0px 18px 18px 18px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.left div:hover{
  box-shadow: 5px 5px 0px rgba(255, 255, 255, 0.746);
  transition: box-shadow 0.3s ease-in;
}

div img {
  height: 55%;
  margin-left: 80px;

}

h2 {
  line-height: 34px;
  font-size: 38px;
  margin: 0px;
  font-weight: 500;

}

div img:hover {
  /* transform: scale(105%);
  transition: transform 1s; */
  animation: shake .5s ease-in;
}

/* Creating shake animation */
@keyframes shake {
  20% {
    /* transform: translateX(10px); */
    transform: rotateZ(10deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }
}