main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

main h1{
  font-size: 5rem;
  line-height: 5rem;
}

main h2{
  font-size: 24px;
  font-weight: 500;
  max-width: 500px;
}